<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          persistence {
            view.auto-update = on
            view.auto-update-interval = 5s
            
            journal {
              plugin = "akka.persistence.journal.sql-server"
              sql-server {
                connection-string = "Data Source=(local);Initial Catalog=AkkaPersistence;Integrated Security=True;MultipleActiveResultSets=True"
                auto-initialize = on
              }
            }
            snapshot-store {
              plugin = "akka.persistence.snapshot-store.sql-server"
              sql-server {
                connection-string = "Data Source=(local);Initial Catalog=AkkaPersistence;Integrated Security=True;MultipleActiveResultSets=True"
                auto-initialize = on
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>

</configuration>